{%extends 'tempapp/base.html'%}
{%block body_block%}

<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

    <center> 
    <h1>
        About Us 
    </h1>
    </center>

    <img src="{%static "images/wall.jpg"%}" style="width: 1520px;" height="500px">
    <p><h4>Hi, I'm sai ram 

        🧑‍🎓I am an graduate student at MLRITM, Hyderabad my Bachelors in Computer Science and Engineering.
        
        I'm a graduate student with an experience in full stack Python developer 
        I am looking for opportunities in python /Django developer 
        My skills : python, advance python, Django, HTML, CSS, java script, JQuery, SQL, Bootstrap 
        
        
        👉You can reach out to me at smsairam1@gmail.com </h4></p>

    <p> <h4>Hi, I'm sai ram 

            🧑‍🎓I am an graduate student at MLRITM, Hyderabad my Bachelors in Computer Science and Engineering.
            
            I'm a graduate student with an experience in full stack Python developer 
            I am looking for opportunities in python /Django developer 
            My skills : python, advance python, Django, HTML, CSS, java script, JQuery, SQL, Bootstrap 
            
            
            👉You can reach out to me at smsairam1@gmail.com</h4></p>
    <p><h4>Hi, I'm sai ram 

        🧑‍🎓I am an graduate student at MLRITM, Hyderabad my Bachelors in Computer Science and Engineering.
        
        I'm a graduate student with an experience in full stack Python developer 
        I am looking for opportunities in python /Django developer 
        My skills : python, advance python, Django, HTML, CSS, java script, JQuery, SQL, Bootstrap 
        
        
        👉You can reach out to me at smsairam1@gmail.com</h4></p>   
</body>
</html>



{%endblock%}