{%extends 'tempapp/base.html'%}

{%block body_block%}

 
<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <img src="{%static "images/wall.jpg"%}" style="width: 1520px;" height="500px">
 
<center>
<h1>WELCOME TO OUR PAGE</h1>
</center>
<p>Hi, I'm sai ram 

    🧑‍🎓I am an graduate student at MLRITM, Hyderabad my Bachelors in Computer Science and Engineering.
    
    I'm a graduate student with an experience in full stack Python developer 
    I am looking for opportunities in python /Django developer 
    My skills : python, advance python, Django, HTML, CSS, java script, JQuery, SQL, Bootstrap </p>
<center>
    <h2>why chose us?</h2>
</center>
<picture>
<img src="{%static "images/sairam1.jpg"%}" style="margin-left: 60px;" style="width: 300px;" style="margin-left: 30px;" height="300px">
<img src="{%static "images/sairam1.jpg"%}" style="margin-left: 30px;" style="width: 300px;"  height="300px">
<img src="{%static "images/sairam1.jpg"%}" style="margin-left: 29px;" style="width: 300px;"  style="margin-left: 30px;" height="300px">
<img src="{%static "images/sairam1.jpg"%}" style="margin-left: 29px;" style="width: 300px;"  style="margin-left: 30px;" height="300px">
</picture>
</body>
</html>


{%endblock%}

