{%extends 'tempapp/base.html'%}
{%block body_block%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <h1>service 1:</h1>
    <p><h4>Hi, I'm sai ram 🧑‍🎓I am an graduate student at MLRITM, Hyderabad my Bachelors in Computer Science and Engineering. I'm a graduate student with an experience in full stack Python developer I am looking for opportunities in python /Django developer My skills : python, advance python, Django, HTML, CSS, java script, JQuery, SQL, Bootstrap 👉You can reach out to me at smsairam1@gmail.com
        Hi, I'm sai ram 🧑‍🎓I am an graduate student at MLRITM, Hyderabad my Bachelors in Computer Science and Engineering. I'm a graduate student with an experience in full stack Python developer I am looking for opportunities in python /Django developer My skills : python, advance python, Django, HTML, CSS, java script, JQuery, SQL, Bootstrap 👉You can reach out to me at smsairam1@gmail.com</h4></p>
    <h1>service 2:</h1>
    <p><h4>Hi, I'm sai ram 🧑‍🎓I am an graduate student at MLRITM, Hyderabad my Bachelors in Computer Science and Engineering. I'm a graduate student with an experience in full stack Python developer I am looking for opportunities in python /Django developer My skills : python, advance python, Django, HTML, CSS, java script, JQuery, SQL, Bootstrap 👉You can reach out to me at smsairam1@gmail.com
        Hi, I'm sai ram 🧑‍🎓I am an graduate student at MLRITM, Hyderabad my Bachelors in Computer Science and Engineering. I'm a graduate student with an experience in full stack Python developer I am looking for opportunities in python /Django developer My skills : python, advance python, Django, HTML, CSS, java script, JQuery, SQL, Bootstrap 👉You can reach out to me at smsairam1@gmail.com</h4></p>
    <h1>service 3:</h1>
    <p><h4>Hi, I'm sai ram 🧑‍🎓I am an graduate student at MLRITM, Hyderabad my Bachelors in Computer Science and Engineering. I'm a graduate student with an experience in full stack Python developer I am looking for opportunities in python /Django developer My skills : python, advance python, Django, HTML, CSS, java script, JQuery, SQL, Bootstrap 👉You can reach out to me at smsairam1@gmail.com
        Hi, I'm sai ram 🧑‍🎓I am an graduate student at MLRITM, Hyderabad my Bachelors in Computer Science and Engineering. I'm a graduate student with an experience in full stack Python developer I am looking for opportunities in python /Django developer My skills : python, advance python, Django, HTML, CSS, java script, JQuery, SQL, Bootstrap 👉You can reach out to me at smsairam1@gmail.com</h4></p>
</body>
</html>


{%endblock%}